
.boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
}

.boton-3 {
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#ffffff;
    padding: 10px 30px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
}

.boton-7{
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding: 15px 25px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}
.boton-8 {
    text-decoration:none;
    font-weight: 600;
    font-size: 10px;
    color:#333333;
    padding: 10px 30px;
    background-color: #F69DA1;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
}

